# Gradle
.gradle/
build/

# Local config
local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws

# Android
*.apk
*.ap_
*.aab
*.dex
.cxx/
.externalNativeBuild/

# Secrets
*.keystore
keystore/

# Misc
.DS_Store
*.swp
